@font-face {
    font-family: 'Cinema';
    src: url(./static/fonts/Cinema.ttf);
}

@font-face {
    font-family: 'Yekan';
    src: url(./static/fonts/Yekan.ttf);
}

#bg {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #4000ff 0%, #ff0000 50%, #ffb500 100%);
    background-size: 200% 200%;

    -webkit-animation: gradient-anim 7.5s ease infinite;
    -moz-animation: gradient-anim 7.5s ease infinite;
    animation: gradient-anim 7.5s ease infinite;
}

@-webkit-keyframes gradient-anim {
    0% {
        background-position: 10% 0
    }
    50% {
        background-position: 91% 100%
    }
    100% {
        background-position: 10% 0
    }
}

@-moz-keyframes gradient-anim {
    0% {
        background-position: 10% 0
    }
    50% {
        background-position: 91% 100%
    }
    100% {
        background-position: 10% 0
    }
}

@keyframes gradient-anim {
    0% {
        background-position: 10% 0
    }
    50% {
        background-position: 91% 100%
    }
    100% {
        background-position: 10% 0
    }
}

.form {
    background-color: rgb(255, 241, 241);
    border-radius: 25px;
    width: 55%;
    height: 70vh !important;
    min-height: 570px;
    transform: translateY(7.5%);
    margin: auto;
    padding: 30px;
}

@media (max-width: 700px) {
    .form {
        width: 80%;
    }
}

.form-title {
    font-family: Cinema;
    font-size: xx-large;
    text-align: center;
    color: midnightblue;
    margin-top: 0;
    margin-bottom: 50px
}