@font-face {
    font-family: 'Cinema';
    src: url(./static/fonts/Cinema.ttf);
}

@font-face {
    font-family: 'Yekan';
    src: url(./static/fonts/Yekan.ttf);
}

.form {
    background-color: rgba(255, 255, 255, .75);
    border-radius: 25px;
    width: 75%;
    transform: translateY(25%);
    margin: auto;
    padding: 30px;
}

.form-title {
    font-family: Cinema;
    font-size: xx-large;
    text-align: center;
}

.submit-form-btn {
    align-self: flex-start;
    justify-self: flex-start;
}

.form-field input,
.form-field label,
.form-field helperText,
.step-label span,
.submit-form-btn {
    font-family: Yekan, ui-rounded;
}