@font-face {
    font-family: 'Cinema';
    src: url(./static/fonts/Cinema.ttf);
}

@font-face {
    font-family: 'Yekan';
    src: url(./static/fonts/Yekan.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

#bg {
    background: linear-gradient(-45deg, #4000ff, #00bbff, #00ffc3);
    background-size: 400% 400%;
    animation: gradient-anim 10s ease infinite;
}

@keyframes gradient-anim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form {
    background-color: rgb(255, 241, 241);
    border-radius: 25px;
    width: 55%;
    min-height: 570px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

@media (max-width: 700px) {
    .form {
        transform: translateY(5%);
        width: 80%;
        margin: auto;
    }
}

.form-title {
    font-family: Cinema;
    font-size: xx-large;
    text-align: center;
    color: midnightblue;
    margin-top: 0;
    margin-bottom: 50px
}